body {
    font-family: 'Special Elite', cursive;
    text-align: center;
    background: #000;
    color: #fff;
}

canvas {
    margin: 0 auto;
}

.logo {
    margin: 30px 10px;
}

#rank_container ol {
    padding: 0px 0px;
    list-style-type: none;
}

#rank_container ol li {
    counter-increment: cnt;
}

#rank_container ol li:before {
    content: "(" counter(cnt) ") ";
}

#rank_container .highlight {
    color: #f00;
}
